<html>

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">

    <title>app</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="info">
                <p>
                    The best implementation
                </p>
                <img src="./img/Login_.svg" alt="login">
            </div>
            <div class="form-container">
                <h1>Sign Up</h1>
                <form action="/registre" method="post">
                    <input type="text" name="name" placeholder="Name" id="name">
                    <input type="email" name="email" placeholder="Email" id="email">
                    <input type="password" name="password" placeholder="Password" id="password">
                    <input type="password" name="confirmpassword" placeholder="Confirm Password" id="passwordConfirm">
                    <button type="submit">Registre</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>